


<div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/admin/articles">All articales</a></li>
                            <li class="active">Add new article</li>
                        </ul>
                    </div>
                </div>
</div>

<div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                   
                        <div class="col-10 order-last order-lg-first">
                            <div class="about-text-wrap">
                              
                              <section>
                                <div class="col-12">
                              
                                      <h1>{{vm.article._id ? 'Edit Article' : 'New Article'}}
                                                               
                                      <button  class="btn btn-danger pull-right" ng-show="vm.article._id" class="btn btn-primary" ng-click="vm.remove()">
                                        <i class="glyphicon glyphicon-trash"></i> Delete article
                                      </button>
                                </h1>

                                </div>
                           
                              <div class="col-md-12">
                                <form name="vm.form.articleForm" class="form-horizontal" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
                                  <fieldset>

                                    <hr/>
              
                                    <div class="form-group row">
                                      <div class="form-check col-4">
                                        <input name="bestSeller" ng-model="vm.article.bestSeller" type="checkbox"  id="bestSeller" class="form-check-input" style="height: 25px;"/>
                                        <label class="form-check-label" for="bestSeller"><span class="align-middle">Best Seller</span></label>
                                      </div>
                                      <div class="mb-3 form-check col-4">
                                        <input name="newArrival"  ng-model="vm.article.newArrival" type="checkbox" id="newArrival" class="form-check-input" style="height: 25px;"/>
                                        <label class="form-check-label" for="newArrival"><span class="align-middle">New Arrival</span></label>
                                      </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="content">Category</label>
                                        <select name="category" id="category" class="form-control" ng-model="vm.article.category" required autofocus>
                                          <option data-ng-repeat="category in vm.categories" data-ng-bind="category.title" value="{{category._id}}"></option>             
                                        </select>
                                        <div ng-messages="vm.form.articleForm.category.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Category is required.</p>
                                      </div>
                                    </div>

                                    <!-- Goto -->
                                   
                                        <!--div class="form-group d-flex flex-column bd-highlight mb-3 overflow-scroll" >
                                          <label class="control-label">Category</label>
                                          <div class="p-2 bd-highlight"  data-ng-repeat="category in vm.categories">
                                            <label class="control-label" >
                                            <input class="form-check-input" type="com" name="category" value="{{category._id}}" ng-model="vm.article.category" style="height: 25px;">
                                            <span>{{category.title}}</span>
                                            </label>
                                          </div>                                                                        
                                        </div -->

                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="photo">Photo</label>
                                      <input name="photo" type="text" ng-model="vm.article.photo" id="photo" class="form-control" placeholder="Photo" required autofocus>
                                      <div ng-messages="vm.form.articleForm.photo.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Article Photo is required.</p>
                                      </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="title">Title</label>
                                      <input name="title" type="text" ng-model="vm.article.title" id="title" class="form-control" placeholder="Title" required autofocus>
                                      <div ng-messages="vm.form.articleForm.title.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Article title is required.</p>
                                      </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="price">Price</label>
                                      <input name="price" type="text" ng-model="vm.article.price" id="price" class="form-control" placeholder="Price" required autofocus>
                                      <div ng-messages="vm.form.articleForm.price.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Article Price is required.</p>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label class="control-label" for="content">Content</label>
                                      <textarea name="content" data-ng-model="vm.article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                                    </div>

                                    <div class="form-group">
                                      <button type="submit" class="btn btn-primary">{{vm.article._id ? 'Update' : 'Create'}}</button>
                                    </div>

                                  </fieldset>
                                </form>
                              </div>
                               </section>


                            </div>
                        </div>
                
                        <div class="col-1">
                          
                        </div>
                    
                    </div>
                </div>
</div>
            