<div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li class="active"><a href="/admin/articles">All articales</a></li>
                            <li>Add new article</li>
                        </ul>
                    </div>
                </div>
</div>
              <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                   
                        <div class="col-12 order-last order-lg-first">
                            <div class="about-text-wrap">
                              
                              <section>
                                <div class="">
                                  <h1>
                                    All articles
                                    <button class="btn btn-primary pull-right" data-ui-sref="admin.articles.create">
                                      <i class="glyphicon glyphicon-plus"></i> Add new article
                                    </button>
                                  </h1>
                                </div>
                                
                                <div class="list-group">

                                  <table class="table">
                                    <tr>
                                      <td><b>Photo</b></td>
                                      <td><b>Content</b></td>
                                      <td><b>Price</b></td>
                                      <td><b>Best / New</b></td>
                                    </tr>
                                    <tr data-ng-repeat="article in vm.articles">
                                    <td>  <img class="rounded float-start" src="../sources/images/product/large-size/{{article.photo}}"  style="width: 100px;" /> </td>
                                      <td>
                                          <a  data-ui-sref="admin.articles.edit({articleId: article._id})" class="text-secondary">           
                                              <small class="">
                                                Posted on
                                                <span data-ng-bind="article.created | date:'mediumDate'"></span>
                                                by
                                                <span ng-if="article.user" ng-bind="article.user.displayName"></span>
                                                <span ng-if="!article.user">Deleted User</span>
                                              </small>
                                              
                                              <h4 class="text-secondary" data-ng-bind="article.title"></h4>
                                              <p class="text-secondary" data-ng-bind="article.content"></p>      

                                          </a>
                                      </td>
                                      <td style="width: 150px;">  <span class="text-red rounded-pill" >{{article.price}} Mad</span> </td>
                                      <td style="width: 150px;">
                                        <div class="product-image">
                                          <span class="text-red rounded-pill sticker" data-ng-if="article.newArrival"> New</span>
                                        </div>
                                        <div class="product-image">
                                          <span class="sticker" data-ng-if="article.bestSeller" style="background-color: green;"> Best</span>
                                        </div>
                                         
                                          
                                        </td>
                                  
                                  
                                  
                                    </tr>
                                  </table>


                                </div>


                                <div class="alert alert-warning text-center" data-ng-if="vm.articles.$resolved && !vm.articles.length">
                                  No articles yet, why don't you <a data-ui-sref="admin.articles.create">create one</a>?
                                </div>
                              </section>


                            </div>
                        </div>
                
                    </div>
                </div>
              </div>

              <div class="about-us-wrapper pt-60 pb-40"></div>
