
<div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li class="active"><a href="/admin/categories">All categories</a></li>
                        </ul>
                    </div>
                </div>
</div>

              <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                   
                        <div class="col-12 order-last order-lg-first">
                            <div class="about-text-wrap">

<section>
  <div class="page-header">
    <h1>
      Categories
      <a class="btn btn-primary pull-right" data-ui-sref="admin.categories.create">
        <i class="glyphicon glyphicon-plus"></i> Add new category
      </a>
    </h1>
  </div>

  <div class="list-group">

    <table class="table">
      <tr data-ng-repeat="category in vm.categories">
      
        <td>
            <a  data-ui-sref="admin.categories.edit({categoryId: category._id})" class="text-secondary">           
                <small class="">
                  Posted on
                  <span data-ng-bind="category.created | date:'mediumDate'"></span>
                  by
                  <span ng-if="category.user" ng-bind="category.user.displayName"></span>
                  <span ng-if="!category.user">Deleted User</span>
                </small>
                
                <h4 class="text-secondary" data-ng-bind="category.title"></h4>    

            </a>
        </td>
       
      </tr>
    </table>


  </div>


  <div class="alert alert-warning text-center" data-ng-if="vm.categories.$resolved && !vm.categories.length">
    No categories yet, why don't you <a data-ui-sref="admin.categories.create">create one</a>?
  </div>
</section>


                            </div>
                        </div>
                
                    </div>
                </div>
              </div>

              <div class="about-us-wrapper pt-60 pb-40"></div>
